.inicio {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.back {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
svg {
    transform: scaleX(1.7);
    height: 100%;
}

.register {
    padding: 5px;
    border: 5px solid rgb(162, 237, 206);
    border-radius: 10px;
    background-color: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
}
.registro {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.registro p{
  margin: 0;
}
.eleccion-examen {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.test{
  cursor: pointer;
}

.examenes-elegir {
  display: flex;
  flex-direction: column-reverse;
}
.register input {
    height: 20px;
    margin: 5px;
    border-radius: 10px;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
}

.bar {
    background-color: #dcd9f8;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bar div {
    width: 100%;
}
.bar a {
    margin-top: auto;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 1000;
    -webkit-text-stroke: 0.7px black;
    text-decoration: none;
}


.card {
    width: 325px;
    min-height: fit-content;
    border: 5px solid #dcd9f8;
    border-radius: 10%;
    box-shadow: 0 0 5px #dcd9f8;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.boton{
    display: inline-block;
    padding: 10px 20px;
    background-color: #dcd9f8;
    color: #fff;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: background-color 1s;
    margin-left: auto;
    border-radius: 10px;
    cursor: pointer;
}

.boton:hover {
    transform: scale(1.05);
    background: rgb(162, 237, 206);
}

.boton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    bottom: 0;
    height: 10%;
    background-color: #d2bead;
    transition: width 0.5s;
    margin-top: auto;
  }

  .boton:hover::after {
    width: 100%;
  }
.inicial{
    margin: 10px;
    margin-left:0;
}
.score {
    width: 100%;
    display: flex;
    justify-content: end;
}

.user {
    border: 5px solid #dcd9f8;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user p {
    color: rgb(162, 237, 206);
    font-weight: 1000;
    margin: 0;
    padding: 8px;
}

.progress {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.progress progress {
    width: 100%;
    height: 100%;
    background-color: rgb(162, 237, 206);
  }
.progress progress::-webkit-progress-value {
    background-color: rgb(162, 237, 206);
  }

.progress progress::-moz-progress-bar {
    background-color: rgb(162, 237, 206);
  }
.progress progress::-ms-fill {
    background-color: rgb(162, 237, 206);
  }

.progress span {
    position: absolute;
    color: #fff;
    font-weight: bold;
  }
.preguntas {
    width: 100%;
    display: flex;
    justify-content: start;
}

.preguntas label {
   padding-left: 5px;
}

.card p {
    font-size: 12px;
    font-weight: bold;
}
.card span {
    font-size: 11px;
}


#home {
    clip-path: url(#cache);
  }
  
  #red {
    fill: none;
    opacity: 0.5;
    stroke: rgb(162, 237, 206);
    stroke-width: 12;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
  }
  
  #blue {
    fill: none;
    opacity: 0.15;
    stroke: rgb(162, 237, 206);
    stroke-width: 12;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  #light-blue {
    fill: none;
    opacity: 0.5;
    stroke: #dcd9f8;
    stroke-width: 6;
    stroke-miterlimit:10;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: draw 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;    
  }
  
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
   }
      }
  
  @keyframes show {
    0% {
      opacity: 0.15;
   }
    50% {
      opacity: 0.4;
   }
    100% {
      opacity: 0.15;
   }
      }
  
  
  
  
